/* Asegúrate de que este CSS esté cargado en tu aplicación */

.card {
  background-color: #333; /* Ejemplo: color de fondo oscuro para la tarjeta */
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  text-decoration: none; /* Esto quita el subrayado del enlace */
  color: #f0f0f0; /* ESTO HACE EL TEXTO BLANCO */
  display: block; /* Para que ocupe todo el ancho si es un Link */
  /* Otros estilos para la tarjeta */
}

.card h3 {
  color: #f0f0f0; /* También puedes especificarlo para los títulos */
  margin-top: 10px;
}

.card p {
  color: #f0f0f0; /* Y para los párrafos */
  margin: 5px 0;
}